<!DOCTYPE html>
<html>
    <head>
        <title>Jeong Won Kim Portfolio</title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <div class="main-content">
                {{>sidemenu}}
                <div class="centered-form">
                    <div class="job-form">
                        <h1>Ericsson Canada, Ottawa</h1>
                        <p class="duration">2019/05 - 2020/08</p>
                        <h3>Indoor Radio Software Developer Co-op</h3>
                        <p>- Wrote and maintained the component integration test for 4G and 5G radio software</p>
                        <p>- Worked with a team to develop the Component Integration Test framework (CIT) for the Radio Access Unit control interface (RAUCI)</p>
                        <p>- Enabled the new RAUCI CIT automation using the Jenkins tool</p>
                    </div>
                    <div class="job-form">
                        <h1>Carleton University, Ottawa</h1>
                        <p class="duration">2018/09 - 2018/12</p>
                        <h3>Teaching Assistant</h3>
                        <p>- Organized scheduled tutorial sessions for Computer Science students, demonstrating discrete structures sample questions, helping students understand course materials</p>
                        <p>- Provided one-on-one help to students during office hours</p>
                    </div>
                    <div class="job-form">
                        <h1>Air Force of Republic of Korea, Seosan, Korea</h1>
                        <p class="duration">2013/04 - 2015/04</p>
                        <h3>Military Police Sergeant</h3>
                        <p>- Led a base security squad in the joint military exercises of South Korea and the U.S.</p>
                        <p>- Monitored and managed prisoners at a military jail</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>