<!DOCTYPE html>
<html>
    <head>
        <title>Jeong Won Kim Portfolio</title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <div class="main-content">
                {{>sidemenu}}
                <div class="centered-form">
                    <div class="node-apps">
                        <h1>Node.js Projects</h1>
                        <div class="project-form">
                            <h2>Web album app</h2>
                            <button onClick="window.open('https://kim-image-repository.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="/projects/web-album">See more details</a>
                        </div>
                        <div class="project-form">
                            <h2>File Repository API</h2>
                            <button onClick="window.open('https://kim-file-repository-api.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="/projects/file-repo">See more details</a>
                        </div>
                        <div class="project-form">
                            <h2>Chat App</h2>
                            <button onClick="window.open('https://kim-chat-application.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="/projects/chat-app">See more details</a>
                        </div>
                        <div class="project-form">
                            <h2>Task Manager API</h2>
                            <button onClick="window.open('https://kim-api-task-manager.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="/projects/task-manager">See more details</a>
                        </div>
                        <div class="project-form">
                            <h2>Weather App</h2>
                            <button onClick="window.open('https://kim-weather-forecast-app.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="/projects/weather-app">See more details</a>
                        </div>
                    </div>
                    <div class="other-apps">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>