<!DOCTYPE html>
<html>
    <head>
        <title>Jeong Won Kim Portfolio</title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <div class="main-content">
                {{>sidemenu}}
                <div class="centered-form">
                    <div class="node-apps">
                        <h1>Node.js Projects</h1>
                        <div class="project-form">
                            <h2 id="weather-app-menu">Weather App</h2>
                            <button onClick="window.open('https://kim-weather-forecast-app.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="weather-app.html">See more details</a>
                        </div>
                        <div class="project-form">
                            <h2 id="task-manager-api-menu">Task Manager API</h2>
                            <button onClick="window.open('https://kim-api-task-manager.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="task-manager.html">See more details</a>
                        </div>
                        <div class="project-form">
                            <h2 id="chat-app-menu">Chat App</h2>
                            <button onClick="window.open('https://kim-chat-application.herokuapp.com/')" formtarget="_blank">Try this app on Heroku</button>
                            <a href="chat-app.html">See more details</a>
                        </div>
                    </div>
                    <div class="other-apps">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>