<sidemenu>
    <label id="home-menu">Home</label>
    <label id="education-menu">Education</label>
    <label id="experience-menu">Experience</label>
    <label id="projects-menu">Projects</label>
    <div class="projects-links">
        <label id="web-album-app-menu">Web Album App</label>
        <label id="file-repository-api-menu">File Repository API</label>
        <label id="chat-app-menu">Chat App</label>
        <label id="task-manager-api-menu">Task Manager API</label>
        <label id="weather-app-menu">Weather App</label>
    </div>
</sidemenu>
<script src="/js/index.js"></script>